mixin statistics(dopClass)
  // statistics
  section.statistics(class= dopClass)
    .container 
      h2.title Statistics of the 
        span top 10 accounts 
        | by income for the last week  
      .statistics__table 
        table 
          tr 
            td Members
            td Traders
            td Number of orders
            td General profit
            td Profit last week
          tr 
            td 
              span.statistics__num 1
              | 3dteapot@gmail.com
            td 13 week
            td 689
            td + 89.5
            td +89.5%
          tr 
            td 
              span.statistics__num 2
              | subvenire_2021@gmail.com
            td 12 week
            td 1 378
            td + 90.8
            td +180%
          tr 
            td 
              span.statistics__num 3
              | alexnadres_vironov@mail.com
            td 9 week
            td 2 432
            td + 89.5
            td +89.5%
  // /statistics