// footer
footer.footer
  .container 
    .footer__top 
      a(href="#").footer__logo
        img(src="img/logo.svg", alt="")
      nav.footer__nav 
        ul.footer__list 
          li 
            a(href="#") Disclaimer
          li 
            a(href="#") Privacy policy
          li 
            a(href="#") Rensponsibility of the parties
      .footer__social
        .footer__lang 
          img(src="img/ru.svg", alt="")
        .footer__social-row   
          a(href="#").footer__social-icon 
            svg(class="icon-tw")
              use(xlink:href="img/sprite.svg#tw")
          a(href="#").footer__social-icon 
            svg(class="icon-vk")
              use(xlink:href="img/sprite.svg#vk")
          a(href="#").footer__social-icon 
            svg(class="icon-insta")
              use(xlink:href="img/sprite.svg#insta")
          a(href="#").footer__social-icon 
            svg(class="icon-tg2")
              use(xlink:href="img/sprite.svg#tg2")
          a(href="#").footer__social-icon 
            svg(class="icon-fb")
              use(xlink:href="img/sprite.svg#fb")
    .footer__ps Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
//	/footer