// header
header#headerSticky.header
  .container 
    .header__container 
      a(href="home.html").header__logo 
        img(src="img/logo.svg", alt="")
      .header__menu#menu
        .header__menu-close.d-sm-none.js-drop-close(data-drop="menu")
        a(href="home.html").header__logo.d-md-none
          img(src="img/logo.svg", alt="")
        nav.header__nav 
          ul.header__list 
            li 
              a(href="#") Home 
            li 
              a(href="#").active Statistics
            li 
              a(href="#") About MiloBot 
            li 
              a(href="#") Reviewrs 
            li 
              a(href="#") Affiliate program
        .header__userblock.d-md-none
          .header__lang 
            a(href="#") 
              img(src="img/lang.svg", alt="")
          .header__buttons 
            .btn.btn--gray Login
            .btn.btn--yellow Sign in
      .header__userblock.d-none.d-md-flex
        .header__lang 
          a(href="#") 
            img(src="img/lang.svg", alt="")
        .header__buttons 
          .btn.btn--gray Login
          .btn.btn--yellow Sign in
      .header__hamburger.hamburger.hamburger--squeeze.d-md-none.js-drop-menu(data-drop="menu")
        .hamburger-box
          .hamburger-inner
  //	/header