// header
header#headerSticky.header
  .container 
    .header__container 
      a(href="home.html").header__logo 
        img(src="img/logo.svg", alt="")
      .header__menu#menu
        .header__menu-close.d-sm-none.js-drop-close(data-drop="menu")
        a(href="home.html").header__logo.d-md-none
          img(src="img/logo.svg", alt="")
        nav.header__nav 
          ul.header__list 
            li 
              a(href="#") Home 
            li 
              a(href="#").active Statistics
            li 
              a(href="#") About MiloBot 
            li 
              a(href="#") Reviewrs 
            li 
              a(href="#") Affiliate program
          .d-flex.align-items-center.mt-2.d-md-none
            .header__user 
              .header__user-img 
                img(src="img/", alt="")
              .header__user-name Alexander...
            .header__exit 
              svg(class="icon-exit")
                use(xlink:href="img/sprite.svg#exit")
        .header__userblock.d-md-none
          .d-flex.align-items-center.mb-1.mb-md-0.flex-wrap
            .header__lang 
              ul.header__lang-drop-list
                li 
                  a(href="#") 
                    img(src="img/icons/ru.svg", alt="")
                li 
                  a(href="#") 
                    img(src="img/icons/en.svg", alt="")
                li 
                  a(href="#") 
                    img(src="img/icons/it.svg", alt="")
                li 
                  a(href="#") 
                    img(src="img/icons/gm.svg", alt="")
            .header__notify.active
              svg(class="icon-bell")
                use(xlink:href="img/sprite.svg#bell")
      .header__userblock.header__userblock--desktop.d-none.d-md-flex
        .header__lang 
          img(src="img/icons/ru.svg", alt="").js-drop-btn(data-drop="langMenu")
          .header__lang-drop#langMenu 
            ul.header__lang-drop-list
              li 
                a(href="#") 
                  img(src="img/icons/en.svg", alt="")
              li 
                a(href="#") 
                  img(src="img/icons/it.svg", alt="")
              li 
                a(href="#") 
                  img(src="img/icons/gm.svg", alt="")
        .header__notify.active
          svg(class="icon-bell")
            use(xlink:href="img/sprite.svg#bell")
        .header__user 
          .header__user-img 
            img(src="img/", alt="")
          .header__user-name Alexander <br>Morozoy
        .header__exit 
          svg(class="icon-exit")
            use(xlink:href="img/sprite.svg#exit")
      .header__hamburger.hamburger.hamburger--squeeze.d-md-none.js-drop-menu(data-drop="menu")
        .hamburger-box
          .hamburger-inner
  //	/header