extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      // welcome
      section.welcome

          .welcome__main 

            .container 

              .welcome__container 

                .welcome__content 
                  h1.title Earn 
                    span 6.12% 
                    | per month on currency fluctuations
                  .welcome__text You may not understand anything about trading on the stock exchange, but the NiceBot robot will open and close transactions by itself, increasing the size of your account.
                  .welcome__subtitle Alexy Frundel, 
                    span taxi driver 
                  .welcome__lists 
                    ul.welcome__list 
                      li – Open deposit 
                        b 5 000$
                      li – Connected 
                        b MiloBot
                    ul.welcome__list 
                      li – Аfter 
                        b 3 months 
                        | the account balance is 
                        span 6,253 $
                      li – Profit of 
                        span 1,253$ 
                        | he withdrawn to card
                  .welcome__arrow 
                    svg(class="icon-arrow1")
                      use(xlink:href="img/sprite.svg#arrow1")

                .welcome__img 
                  img(src="img/man.png", alt="")
          
          .welcome__items 
            .row.g-0
              .welcome__item-col.col-md-4 
                .welcome__item 
                  .welcome__item-price $ 856 256
                  .welcome__item-text Profit for 2022
              .welcome__item-col.col-md-4 
                .welcome__item 
                  .welcome__item-price $ 8 059 255
                  .welcome__item-text Balance in robot management 
              .welcome__item-col.col-md-4 
                .welcome__item 
                  .welcome__item-price 16 887 +
                  .welcome__item-text Accounts in management
      // /welcome

      // profit
      section.profit.section-gray 
        .container 
          .profit__head 
            h2.title Profit with NiceBot is really easy
            .btn.btn--yellow.d-md-inline-flex.d-none Sign up now
          .profit__items 
            .profit__item 
              .profit__icon 1
              .profit__content 
                .profit__title Open an account with a broker
                .profit__text Detailed instructions in your account
            .profit__arrow 
              svg(class="icon-arrow-right")
                use(xlink:href="img/sprite.svg#arrow-right")
            .profit__item 
              .profit__icon 2
              .profit__content 
                .profit__title Connect the robot
                .profit__text Even a 10 year old can handle it
            .profit__arrow 
              svg(class="icon-arrow-right")
                use(xlink:href="img/sprite.svg#arrow-right")
            .profit__item 
              .profit__icon 3
              .profit__content 
                .profit__title Withdraw profit
                .profit__text There's no point in postponing the decision
          .profit__btn.d-md-none
            .btn.btn--yellow Sign up now
      // /profit

      // numbers
      .numbers
        .container 
          .row.gy-3
            .col-lg-6 
              .title We trust only numbers and rely only on them!
              .numbers__items 
                .numbers__item 
                  .numbers__icon 
                    img(src="img/numbers/img1.svg", alt="")
                  .numbers__content 
                    .numbers__title Average profit for July 2022:
                    .numbers__price +6,25%
                    .numbers__text For all the time: 
                      span +689,26%
                .numbers__item 
                  .numbers__icon 
                    img(src="img/numbers/img2.svg", alt="")
                  .numbers__content 
                    .numbers__title Deals opened by robot for July 2022:
                    .numbers__price 505 488
                    .numbers__text For all the time: 
                      span +689,26%
                .numbers__item 
                  .numbers__icon 
                    img(src="img/numbers/img3.svg", alt="")
                  .numbers__content 
                    .numbers__title Profit in money for July 2022:
                    .numbers__price $550 488.23
                    .numbers__text For all the time: 
                      span +689,26%
            .col-lg-6 
              .numbers__reports 
                .numbers__report
                  .numbers__report-title 6 years of testing history
                  .numbers__report-text Average return of 9.86% per month based <br>on history tests since 2015.
                  .numbers__report-link 
                    a(href="#") View reports
                      svg(class="icon-arrow-right-medium")
                        use(xlink:href="img/sprite.svg#arrow-right-medium")
                .numbers__report
                  .numbers__report-title +6.12% per month on average for 2022
                  .numbers__report-text Statistics collected on the basis of 596 <br>accounts of our clients.
                  .numbers__report-link 
                    a(href="#") View reports
                      svg(class="icon-arrow-right-medium")
                        use(xlink:href="img/sprite.svg#arrow-right-medium")
                .numbers__report
                  .numbers__report-title Profit over 600% in 3 years
                  .numbers__report-text Real account statistics from <br>November 2019
                  .numbers__report-link 
                    a(href="#") View reports
                      svg(class="icon-arrow-right-medium")
                        use(xlink:href="img/sprite.svg#arrow-right-medium")
      // /numbers

    include core/footer.pug
