extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    main.content 

      // welcome
      section.welcome

          .welcome__main 

            .container 

              .welcome__container 

                .welcome__content 
                  h1.title Earn 
                    span 6.12% 
                    | per month on currency fluctuations
                  .welcome__text You may not understand anything about trading on the stock exchange, but the NiceBot robot will open and close transactions by itself, increasing the size of your account.
                  .welcome__subtitle Alexy Frundel, 
                    span taxi driver 
                  .welcome__lists 
                    ul.welcome__list 
                      li – Open deposit 
                        b 5 000$
                      li – Connected 
                        b MiloBot
                    ul.welcome__list 
                      li – Аfter 
                        b 3 months 
                        | the account balance is 
                        span 6,253 $
                      li – Profit of 
                        span 1,253$ 
                        | he withdrawn to card
                  .welcome__arrow 
                    svg(class="icon-arrow1")
                      use(xlink:href="img/sprite.svg#arrow1")

                .welcome__img 
                  img(src="img/man.png", alt="")
          
          .welcome__items 
            .row.g-0
              .welcome__item-col.col-md-4 
                .welcome__item 
                  .welcome__item-price $ 856 256
                  .welcome__item-text Profit for 2022
              .welcome__item-col.col-md-4 
                .welcome__item 
                  .welcome__item-price $ 8 059 255
                  .welcome__item-text Balance in robot management 
              .welcome__item-col.col-md-4 
                .welcome__item 
                  .welcome__item-price 16 887 +
                  .welcome__item-text Accounts in management
      // /welcome

      // profit
      section.profit.section-gray 
        .container 
          .profit__head 
            h2.title Profit with NiceBot is really easy
            .btn.btn--yellow.d-md-inline-flex.d-none Sign up now
          .profit__items 
            .profit__item 
              .profit__icon 1
              .profit__content 
                .profit__title Open an account with a broker
                .profit__text Detailed instructions in your account
            .profit__arrow 
              svg(class="icon-arrow-right")
                use(xlink:href="img/sprite.svg#arrow-right")
            .profit__item 
              .profit__icon 2
              .profit__content 
                .profit__title Connect the robot
                .profit__text Even a 10 year old can handle it
            .profit__arrow 
              svg(class="icon-arrow-right")
                use(xlink:href="img/sprite.svg#arrow-right")
            .profit__item 
              .profit__icon 3
              .profit__content 
                .profit__title Withdraw profit
                .profit__text There's no point in postponing the decision
          .profit__btn.d-md-none
            .btn.btn--yellow Sign up now
      // /profit

      // numbers
      section.numbers
        .container 
          .row.gy-3
            .col-lg-6 
              h2.title We trust only numbers and rely only on them!
              .numbers__items 
                .numbers__item 
                  .numbers__icon 
                    img(src="img/icons/chart.svg", alt="")
                  .numbers__content 
                    .numbers__title Average profit for July 2022:
                    .numbers__price +6,25%
                    .numbers__text For all the time: 
                      span +689,26%
                .numbers__item 
                  .numbers__icon 
                    img(src="img/icons/chip.svg", alt="")
                  .numbers__content 
                    .numbers__title Deals opened by robot for July 2022:
                    .numbers__price 505 488
                    .numbers__text For all the time: 
                      span +689,26%
                .numbers__item 
                  .numbers__icon 
                    img(src="img/icons/profit.svg", alt="")
                  .numbers__content 
                    .numbers__title Profit in money for July 2022:
                    .numbers__price $550 488.23
                    .numbers__text For all the time: 
                      span +689,26%
            .col-lg-6 
              .numbers__reports 
                .numbers__report
                  .numbers__report-title 6 years of testing history
                  .numbers__report-text Average return of 9.86% per month based <br>on history tests since 2015.
                  .numbers__report-link 
                    a(href="#") View reports
                      svg(class="icon-arrow-right-medium")
                        use(xlink:href="img/sprite.svg#arrow-right-medium")
                .numbers__report
                  .numbers__report-title +6.12% per month on average for 2022
                  .numbers__report-text Statistics collected on the basis of 596 <br>accounts of our clients.
                  .numbers__report-link 
                    a(href="#") View reports
                      svg(class="icon-arrow-right-medium")
                        use(xlink:href="img/sprite.svg#arrow-right-medium")
                .numbers__report
                  .numbers__report-title Profit over 600% in 3 years
                  .numbers__report-text Real account statistics from <br>November 2019
                  .numbers__report-link 
                    a(href="#") View reports
                      svg(class="icon-arrow-right-medium")
                        use(xlink:href="img/sprite.svg#arrow-right-medium")
      // /numbers

      include blocks/statistics.pug

      +statistics('section-gray')

      // professional
      section.professional
        .container 
          h2.title Become a professional market participant using the MiloBot robot

          .professional__items 
            .row.gy-1
              .col-md-6 
                .professional__item 
                  .professional__icon 
                    img(src="img/icons/pad.svg", alt="")
                  .professional__content 
                    .professional__title License for 5 years $400
                    .professional__text It pays off in 6 months with a deposit of $1000, and with a deposit of 
                      b $10,000 
                      | pays off in the first month
                  .professional__bottom 
                    .professional__price 5 years $400
              .col-md-6 
                .professional__item 
                  .professional__icon 
                    img(src="img/icons/rocket.svg", alt="")
                  .professional__content 
                    .professional__title Connect for free now
                    .professional__text Connect now for free, and pay in 
                      b 2 weeks 
                      | when you see the first profit
                  .professional__bottom 
                    .professional__ps * If you don't like the robot after 2 weeks, the robot will close all transactions and stop. You will take your money and the profit that the robot managed to earn.

          .professional__install 
            .professional__install-content 
              .professional__install-title MiloBot installation will take only 15 minutes
              .professional__install-text Register in the cabinet where there is a step-by-step instruction for installing the robot
            .professional__install-btn 
              a(href="#").btn.btn--yellow Sign up now
              .professional__arrow 
                svg(class="icon-arrow2")
                  use(xlink:href="img/sprite.svg#arrow2")
      // /professional

      // manages
      section.manages.section-gray
        .container 
          .row 
            .col-lg-6 
              .manages__img 
                img(src="img/icons/bot.svg", alt="")
              h2.manages__title The robot manages the money in your account with the broker
              .manages__sub We work only with a reliable and trusted broker that allows trading with robots
            .col-lg-6 
              .manages__right 
                .manages__title.manages__title--yellow We do not accept money into our accounts
                .manages__text Register in the cabinet where there is a step-by-step instruction for installing the robot
                .manages__icons 
                  .manages__icon-row 
                    .manages__icon 
                      img(src="img/icons/visa.svg", alt="")
                    .manages__icon 
                      img(src="img/icons/bank.svg", alt="")
                    .manages__icon 
                      img(src="img/icons/t.svg", alt="")
                    .manages__icon 
                      img(src="img/icons/mastercard.svg", alt="")
                    .manages__icon 
                      img(src="img/icons/skrill.svg", alt="")
                .manages__ps * Top up your account or withdraw profits to the card or cryptocurrency
      // /manages

      // easy
      section.easy
        .container 
          h2.title 
            span Making money 
            | with us is really easy
          .easy__items 
            .row.gy-2 
              .col-lg-6 
                .easy__item 
                  .easy__head 
                    .easy__icon 
                      img(src="img/icons/gear.svg", alt="")
                    .easy__title We do it
                  ul.easy__list 
                    li Renting a VPS server for the robot to work
                    li Installing and configuring the robot
                    li Monitoring on online
                    li Collecting account statistics
                    li We generate clear trade reports
                    li Periodic verification of the algorithm and reconfiguration of the robot
              .col-lg-6 
                .easy__item 
                  .easy__head 
                    .easy__icon 
                      img(src="img/icons/cocktail.svg", alt="")
                    .easy__title You do it
                  ul.easy__list 
                    li Observe the work in a convenient interface
                    li Withdraw profit every month
                    li We generate clear trade reports
                    li Collecting account statistics
          .easy__bottom 
            .easy__bottom-title Do you want to start right now?
            .easy__bottom-btn 
              a(href="#").btn.btn--yellow Start making a profit
            .easy__arrow 
              svg(class="icon-arrow3")
                use(xlink:href="img/sprite.svg#arrow3")
      // /easy

      // watch
      section.watch.section-gray
        .container 
          .row.align-items-center
            .col-lg-6.align-self-end.order-2.order-lg-1
              .watch__img 
                img(src="img/phone.png", alt="")
            .col-lg-6.order-1.order-lg-2
              .watch__content 
                h2.title Watch your 
                  span profits grow
                ul.watch__list 
                  li Telegram bot will send reports on open and closed deals
                  li Monitor what is happening on the account in the MetaTrader 4 mobile terminal
                  li See a detailed report in your personal account on our website 
                .watch__text Download mobile terminal 
                  b MetaTrader 4 
                  | to your phone and watch the trades of the robot: 
                .watch__stores 
                  a(href="#").watch__store 
                    img(src="img/appstore.png", alt="")
                  a(href="#").watch__store 
                    img(src="img/gplay.png", alt="")
      // /watch

      // start
      section.start
        .container 
          .row 
            .col-lg-6.col-md-7.position-relative.order-2.order-md-1
              h2.title Easy start step by step with 
                span telegram bot
              .start__text Take the first step towards your first transactions on the stock exchange
              .start__btn 
                a(href="#").btn.btn--yellow Start making a profit
              .start__arrow 
                svg(class="icon-arrow4")
                  use(xlink:href="img/sprite.svg#arrow4")
            .col-lg-6.col-md-5.d-flex.justify-content-md-center.order-1.order-md-2
              .start__img 
                svg(class="icon-tg")
                  use(xlink:href="img/sprite.svg#tg")
      // /start

      // reviews 
      section.reviews.section-gray
        .container 
          .reviews__head 
            h2.title Look at the reviews of satisfied customers
            .reviews__arrow 
              svg(class="icon-arrow5")
                use(xlink:href="img/sprite.svg#arrow5")
          .reviews__slider 
            #reviewsSlider 
              .swiper-wrapper 
                .swiper-slide 
                  .reviews__item 
                    .reviews__img 
                      img(src="img/user.jpg", alt="")
                    .reviews__content 
                      .reviews__name Steve Jobs
                      .reviews__statistics Trades: 
                        b 15 week 
                        | / Profit: 
                        span 31.3%
                      .reviews__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                .swiper-slide 
                  .reviews__item 
                    .reviews__img 
                      img(src="img/user.jpg", alt="")
                    .reviews__content 
                      .reviews__name Steve Jobs
                      .reviews__statistics Trades: 
                        b 15 week 
                        | / Profit: 
                        span 31.3%
                      .reviews__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              .reviews__arrowbtn.reviews__arrowbtn--prev.swiper-button-prev
                svg(class="icon-arrow-left")
                  use(xlink:href="img/sprite.svg#arrow-left")
              .reviews__arrowbtn.reviews__arrowbtn--next.swiper-button-next
                svg(class="icon-arrow-right")
                  use(xlink:href="img/sprite.svg#arrow-right")
      // /reviews 

    include core/footer.pug
