extends core/base.pug

block title 
  title Навигаця по страницам

block content

  .page 

    include core/header.pug

    .content 

      .navpage.section-gray
        .container
          h1 Навигаця по страницам
          ul 
            li 
              a(href="home.html") Главная
            li 
              a(href="page1.html") Страница 1
            li 
              a(href="page2.html") Страница 2
            li 
              a(href="login.html") Авторизация
            li 
              a(href="registration.html") Регистрация
            li 
              a(href="modal.html") Модалка

    include core/footer.pug
