extends core/base.pug

block title 
  title Страница 2

block content

  .page 

    include core/header-logined.pug

    .content 

      // faq
      .faq
        .container 
          .faq__slider 
            #faqSlider 
              .swiper-wrapper 
                .swiper-slide 
                  .faq__item 
                    .faq__icon 
                      svg(class="icon-algorithm")
                        use(xlink:href="img/sprite.svg#algorithm")
                    .faq__text Author's trading algorithm?
                .swiper-slide 
                  .faq__item 
                    .faq__icon 
                      svg(class="icon-vallet")
                        use(xlink:href="img/sprite.svg#vallet")
                    .faq__text How to deposit funds
                .swiper-slide 
                  .faq__item 
                    .faq__icon 
                      svg(class="icon-bot")
                        use(xlink:href="img/sprite.svg#bot")
                    .faq__text How to connect The Milo robot
                .swiper-slide 
                  .faq__item 
                    .faq__icon 
                      svg(class="icon-house")
                        use(xlink:href="img/sprite.svg#house")
                    .faq__text How to withdraw the earned money?
                .swiper-slide 
                  .faq__item 
                    .faq__icon 
                      svg(class="icon-vallet")
                        use(xlink:href="img/sprite.svg#vallet")
                    .faq__text How to deposit funds
                .swiper-slide 
                  .faq__item 
                    .faq__icon 
                      svg(class="icon-bot")
                        use(xlink:href="img/sprite.svg#bot")
                    .faq__text How to connect The Milo robot
              .faq__scrollbar.swiper-scrollbar
      // /faq

      // actions
      .actions.section-gray
        .container 
          .row.gy-1.gy-md-3
            .col-lg-6 
              .actions__item 
                .actions__title Account requirements
                ul.actions__list 
                  li 
                    span Trading platform: 
                    span 
                      b MetaTrader4
                  li 
                    span Account type: 
                    span 
                      b MT4 Pro Affiliate
                  li 
                    span Currency: Leverage: 
                    span 
                      b USD 1:500
                  li 
                    span Min. balance: 
                    span 
                      b $400
                .actions__btn 
                  a(href="#").btn.btn--yellow Start the robot now
            .col-lg-6 
              .actions__item 
                .actions__title 3 month free of charge
                .actions__text Valid from Sep 25 to Oct 5
                .actions__promo Promo Code:
                  span 5Jk68fT
                .actions__btn 
                  a(href="#").btn.btn--yellow Connect with promo code
            .col-lg-6 
              .actions__item 
                .actions__title A 5-year license is only $400
                .actions__text2 MiloBot will earn this money in 
                  span 2,5 months
                .actions__btn 
                  a(href="#").btn.btn--yellow By now
            .col-lg-6 
              .actions__item 
                .actions__title The license will pay off even faster
                .actions__price $400 
                  span $197
                .actions__times 
                  .actions__timer 
                    .actions__timer-item 20
                    .actions__timer-item 31
                    .actions__timer-item 28
                  a(href="#").btn.btn--yellow By now
      // /actions

      // balance
      .balance
        .container 
          .balance__container 
            .row 
              .col-xxl-4.col-md-7
                .balance__item 
                  .balance__title Your balance: 
                  .balance__price $ 6,796.23
                    svg(class="icon-arrow-up-medium")
                      use(xlink:href="img/sprite.svg#arrow-up-medium")
                .balance__item 
                  .balance__title Your profit: 
                  .balance__price $ 11,696.18
                    span +10.98%
              .col-xxl-3.col-md-5
                .balance__items-small 
                  .row
                    .col-md-12.col-sm-6 
                      .balance__title-small Profit for the day: 
                      .balance__price-small $ 185,63 
                        span +0.1%
                    .col-md-12.col-sm-6 
                      .balance__title-small Profit for the week: 
                      .balance__price-small $ 1,879.63 
                        span +0.8%
                    .col-md-12.col-sm-6 
                      .balance__title-small Profit for the month: 
                      .balance__price-small $ 10,879.63 
                        span +18.6%
                    .col-md-12.col-sm-6 
                      .balance__title-small Profit for the day: 
                      .balance__price-small $ 5,63 
                        span +8.9%
              .col-xxl-5
                .balance__lists 
                  ul.balance__list 
                    li 
                      span Created at: 
                      span 08.12.2021
                    li 
                      span License up to: 
                      span 16.12.2021
                    li 
                      span Service up to: 
                      span 24.12.2021
                  ul.balance__list 
                    li 
                      span Trades pair: 
                      span 
                        b 87
                    li 
                      span Numder of orders: 
                      span 
                        b 868
                    li 
                      span Orders in the markets: 
                      span 
                        b 478
            .balance__buttons 
              .balance__buttons-row 
                a(href="#").btn.btn--yellow Connection
                a(href="#").btn.btn--yellow Settings
                a(href="#").btn.btn--yellow Details
      // /balance

    include core/footer.pug
