extends core/base.pug

block title 
  title Страница 1

block content

  .page 

    include core/header.pug

    main.content 

      // welcome-page
      section.welcome-page
        .container 
          .row.gy-3 
            .col-lg-3 
              .welcome-page__img 
                img(src="img/icons/bot.svg", alt="")
            .col-lg-9 
              h1.title 
                span MiloBot is a professional exchange 
                | robot developed by traders and analysts with a simple interface for ordinary people
      // /welcome-page

      // advantages
      .advantages.section-gray
        .container 
          .advantages__items 
            .row.gy-1.gy-md-3.justify-content-center
              .col-xxl-3.col-lg-4.col-sm-6
                .advantages__item 
                  .advantages__icon 
                    img(src="img/icons/algorithm.svg", alt="")
                  .advantages__content 
                    .advantages__title Author's trading algorithm
                    .advantages__text 3 Trading Strategies Using Market Reversal Indicators
              .col-xxl-3.col-lg-4.col-sm-6
                .advantages__item 
                  .advantages__icon 
                    img(src="img/icons/wallet.svg", alt="")
                  .advantages__content 
                    .advantages__title We trust the robot our money
                    .advantages__text View independent monitoring of an account with a balance of more than $45,000
              .col-xxl-3.col-lg-4.col-sm-6
                .advantages__item 
                  .advantages__icon 
                    img(src="img/icons/chart2.svg", alt="")
                  .advantages__content 
                    .advantages__title Stable profit
                    .advantages__text There are no strong fluctuations in profits, on average from 6 to 9% per month
              .col-xxl-3.col-lg-4.col-sm-6
                .advantages__item 
                  .advantages__icon 
                    img(src="img/icons/time.svg", alt="")
                  .advantages__content 
                    .advantages__title History tests since 2015
                    .advantages__text Designed, tested and tuned solely on the basis of historical data tests
      // /advantages

      include blocks/statistics.pug

      +statistics

      // rocket
      section.rocket.section-gray
        .container 
          .rocket__container 
            .rocket__content 
              h2.title 
                span Install the MiloBot robot 
                | now and the first deals will be made today
              .rocket__text Take the first step towards your first transactions on the stock exchange
              .rocket__btn 
                a(href="#").btn.btn--yellow Start making a profit
              .rocket__arrow 
                svg(class="icon-arrow6")
                  use(xlink:href="img/sprite.svg#arrow6")
            .rocket__img 
              img(src="img/icons/rocket2.svg", alt="")
      // /rocket

      // strategy
      .strategy
        .container 
          .row.gy-3 
            .col-lg-6 
              .title 
                span Due to the bidirectional strategy, 
                | MiloBot makes it possible to earn at all stages of the market
              .strategy__text MiloBot is an algorithmic advisor that uses 3 strategies to make a profit. Strategies work sequentially, transferring control of orders from the first to the next, thereby minimizing risks, consistently earning you profit
            .col-lg-6 
              ul.strategy__list 
                li 
                  span.strategy__num 1
                  | The first and main strategy receives the main income by fixing profits, after which they transfer control of orders to the second strategy
                li 
                  span.strategy__num 2
                  | The second one works according to the individual strategy «Averaging grid» (the author’s view of this type of trading) accurately brings the remaining orders into profit
                li 
                  span.strategy__num 3
                  | The third strategy turns on and earns profit while the second one brings orders into profit
      // /strategy

    include core/footer.pug
