/* faq */
.faq { 
  padding: 70px 0 50px;
  &__slider {
    position: relative;
    overflow: hidden;
    padding-bottom: 70px;
    .swiper-slide {
      height: auto;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: $grayL;
    user-select: none;
    transition: .3s;
    &:hover {
      background-color: $yellow;
      .faq__icon {
        stroke: #fff;
      }
    }
  }
  &__icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 15px;
    stroke: $black;
    transition: .3s;
  }
  &__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  &__scrollbar {
    background-color: #eee;
    .swiper-scrollbar-drag {
      background-color: $yellow;
    }
  }
  @include media-breakpoint-down(md) {
    padding: 50px 0;
    &__slider {
      padding-bottom: 30px;
    }
    &__item {
      padding: 20px;
    }
    &__icon {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    &__text {
      font-size: 16px;
      line-height: 20px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__item {
      flex-direction: column;
    }
    &__icon {
      margin-bottom: 10px;
    }
    &__text {
      text-align: center;
    }
  }
}
/* /faq */